body {
  font-family: Cambria;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 1280px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
